{% extends "base/base.html" %}
{% load static %}


{% block body %}
{% include 'base/header.html' with contact=contact  content=content  %}    

 <div class="container default-padding-top  ">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                       {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                    <div class="alert alert-success" role="alert">{{message}}</div>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">{{message}}</div>
                                    
                                {% endif %}
                            {% endfor %}
                    <div class="site-heading text-center">
                        <h1>استرداد حسابك</h1>
                    </div>
                </div>
            </div>
        </div>
<div class="container default-padding-bottom">
    
    <div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 mx-auto text-right">

        <form method="POST"> {% csrf_token %}

            {{form.as_p}}
            <input type="submit" class ="btn btn-success" value="إرسال">
        </form>

    </div>
</div>

{% include 'base/footer.html'  with content=content contact=contact %}    
    
{% endblock body %}


