{% extends "base/base.html" %}
{% load static %}


{% block body %}
{% include 'base/header.html' with contact=contact  content=content  %}    

 <div class="container default-padding-top  ">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                       {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                    <div class="alert alert-success" role="alert">{{message}}</div>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">{{message}}</div>
                                    
                                {% endif %}
                            {% endfor %}
                   
                </div>
            </div>
        </div>
<div class="container default-padding-bottom">
    
    <div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 mx-auto text-center">

       <i class="fa fa-check valid" aria-hidden="true"></i>
				<h2 class="mrg-top-15">تم إعادة تعيين كلمة المرور الخاصة بك بنجاح</h2>
				<p>تستطيع الآن
قم بتسجيل الدخول إلى حسابك باستخدام كلمة المرور الجديدة <a href="{% url 'login' %}"><strong>من هنا</strong></a>
</p>

    </div>
</div>

{% include 'base/footer.html'  with content=content contact=contact %}    
    
{% endblock body %}



