{% extends "dash_base/base.html" %}
{% load static %}

{% block title %}
    ميع المستخدمين 
{% endblock title %}
{% block page_title %}المستخدمين{% endblock page_title %}

{% block breadcrumb %}
    <li class="active">جميع المستخدمين </li>
    
{% endblock  %}

{% block body %}

<div class="row">
    <div class="col-md-12">
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
            <div class="alert alert-success" role="alert">{{message}}</div>
        {% else %}
            <div class="alert alert-danger" role="alert">{{message}}</div>   
        {% endif %}
    {% endfor %}
</div>
    <div class="col-md-12">
        <div class="panel panel-card ">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"> جميع المستخدمين</h4>
                <div class="panel-actions">
                    <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" >إضافة مستخدم جديدة</button>
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                     <div class="modal fade " id="exampleModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel">
                                      <div class="modal-dialog modal-lg" role="document">
                                        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="modal-content" style="    margin-top: 100px;">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="exampleModalLabel">إضافة مستخدم</h4>
                                              </div>
                                              <div class="modal-body">
                                                    {{form.as_p}}
                                              </div>
                                              <div class="modal-footer">
                                                <!-- <button type="button" class="btn btn-primary">إضافة</button> -->
                                                <input type="submit" name="add_course" value="إضافة" class="btn btn-sm btn-primary">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
                                              </div>
                                            </div>
                                        </form>
                                      </div>
                                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="basic-datatables" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th> #</th>
                            <th> الإيميل</th>
                            <th> الإسم</th>
                            <th> اللقب</th>
                            <th> تاريخ الميلاد</th>
                            <th> الجنس</th>
                            <th> الحالة</th>
                            <th> النشاط</th>
                        </tr>
                    </thead>
                    <tbody>
                    	
                        {% for user in users %}
                    		<tr>
                                <td>
                    				<a href="{% url 'user_detail' pk=user.pk %}">
                                		{{user.id}}
                    				</a>	
                            	</td>
                                <td>{{user.email}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.profile.birth_date}}</td>
                                <td>{{user.profile.gender}}</td>
                                <td>{% if user.is_active %}<span class="label label-success">فعال</span>{% else %}<span class="label label-danger">غير فعال</span>{% endif %}</td>
                                <td>
                                    <a href="{% url 'user_detail' pk=user.pk %}" ><i class="fa fa-edit"></i></a>
                                    <a href="#" data-toggle="modal" data-target="#exampleModal{{user.pk}}"><i class="fa fa-trash" style="color: #df645d;"></i></a>
                                    <div class="modal fade " id="exampleModal{{user.pk}}" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel">
                                      <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content" style="    margin-top: 100px;">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="exampleModalLabel">حذف مستخدم</h4>
                                              </div>
                                              <div class="modal-body">
                                                   <p>هل أنت متاكد من حذف {{user.get_full_name}}؟</p>
                                              </div>
                                              <div class="modal-footer">
                                                <!-- <button type="button" class="btn btn-primary">حذف</button> -->
                                                <a href="{% url 'del_user' pk=user.pk %}" class="btn btn-sm btn-danger">نعم</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
                                              </div>
                                            </div>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                    	{% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- End .panel -->  
    </div><!--end .col-->
</div> 
{% endblock body %}

{% block script %}
	<script src="{% static 'dashboard/js/data-tables/jquery.dataTables.js' %}"></script>
	<script src="{% static 'dashboard/js/data-tables/dataTables.tableTools.js' %}"></script>
	<script src="{% static 'dashboard/js/data-tables/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'dashboard/js/data-tables/dataTables.responsive.js' %}"></script>
	<script src="{% static 'dashboard/js/data-tables/tables-data.js' %}"></script>
{% endblock script %}