{% load i18n %}{% autoescape off %}

<div>
	<h3> ,<strong>{{ user.name|title }} {{ user.lastname|title }}</strong> مرحبا</h3>
<p>
	 .{{ site_name }}أنت تتلقى هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة مرور حساب المستخدم الخاص بك على

</p>
<p>
	 :يرجى الانتقال إلى الصفحة التالية واختيار كلمة مرور جديدة

	<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><button class="btn theme-btn">تغيير كلمة المرور
</button></a>
</p>

<hr>
<p>لجميع الأسئلة, 
<br> .<strong>{{contact_email}}</strong> يرجى الاتصال بنا عبر البريد الإلكتروني على:
 
<br> .<strong>{{contact_phone}}</strong>ou par téléphone sur:</p>

{% endautoescape %}

</div>