{% load i18n %}{% autoescape off %}

<div>
	<h3>Hello, <strong>{{ user.name|title }} {{ user.lastname|title }}</strong> </h3>
<p>
	You are receiving this email because you requested to reset your user account password on  {{ site_name }}


</p>
<p>
	 Please go to the link below and choose a new password :

	<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><button class="btn theme-btn">change password</button></a>
</p>

<hr>
<p>For all questions,
<br> Please contact us via email: <strong>{{contact_email}}</strong>. 
<br> or by phone on: <strong>{{contact_phone}}</strong> .</p>

{% endautoescape %}

</div>